<!DOCTYPE html>
<html>
<head>
    <title>MySoulComida</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='nose.css') }}">
    <!--{{ url_for('static', filename='nose.css') }}-->
</head>
<body style="background-color: #ffffff; background-image: linear-gradient(white, #adadad); height: 715px;">

<!-- First Grid: Logo & About -->
<div class="preguntas">
    <u><h1 class="header">Preguntas</h1></u>
    <form id="quiz-form" method="POST" action="/procesar_preguntas">
        <div class="comida-group">
            <b><label>Comida: </label></b>
            <input type="text" required name="comida">
        </div>

        <input type="hidden" name="usuario" value="{{ nombre_usuario }}">

        <div class="d-flex">
            <div class="question">
                <p>1. Temperatura</p>
                <div class="answers">
                    <label>
                        <input type="radio" name="q1" value="Frio" required>
                        Frio
                    </label>
                    <label>
                        <input type="radio" name="q1" value="Caliente">
                        Caliente
                    </label>
                    <label>
                        <input type="radio" name="q1" value="Templado">
                        Templado
                    </label>
                </div>
            </div>
            
            <div class="question">
                <p>2. Sabor</p>
                <div class="answers">
                    <label>
                        <input type="radio" name="q2" value="Dulce" required>
                        Dulce
                    </label>
                    <label>
                        <input type="radio" name="q2" value="Salado">
                        Salado
                    </label>
                    <label>
                        <input type="radio" name="q2" value="Acido">
                        Acido
                    </label>
                    <label>
                        <input type="radio" name="q2" value="Picante">
                        Picante
                    </label>
                </div>
            </div>

            <div class="question">
                <p>3. Textura</p>
                <div class="answers">
                    <label>
                        <input type="radio" name="q3" value="Suave" required>
                        Suave
                    </label>
                    <label>
                        <input type="radio" name="q3" value="Crujiente">
                        Crujiente
                    </label>
                    <label>
                        <input type="radio" name="q3" value="Cremoso">
                        Cremoso
                    </label>
                    <label>
                        <input type="radio" name="q3" value="Liquido">
                        Liquido
                    </label>
                </div>
            </div>

            <div class="question">
                <p>4. Lugar</p>
                <div class="answers">
                    <label>
                        <input type="radio" name="q4" value="Restaurante" required>
                        Restaurante
                    </label>
                    <label>
                        <input type="radio" name="q4" value="Casa">
                        Casa
                    </label>
                    <label>
                        <input type="radio" name="q4" value="Calle">
                        Calle
                    </label>
                </div>
            </div>

            <div class="question">
                <p>5. Tipo</p>
                <div class="answers">
                    <label>
                        <input type="radio" name="q5" value="Saludable" required>
                        Saludable
                    </label>
                    <label>
                        <input type="radio" name="q5" value="Chatarra">
                        Chatarra
                    </label>
                </div>
            </div>

            <div class="question">
                <p>6. Rating</p>
                <label>Del 1 al 10</label>
                <input type="text" required name="rating">
            </div>
        </div>
        <button type="submit" class="confirm">Enviar</button>
    </form>
</div>

</body>
</html>
