<!DOCTYPE html>
<html>
<head>
<title>MySoulComida</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='nose.css') }}">
<!--{{ url_for('static', filename='nose.css') }}-->
<body style="background-color: #ffffff; background-image: linear-gradient(white, #adadad); height: 715px;">

<!-- First Grid: Logo & About -->
<div class="recomendaciones">
  <h1 class="header2"><u>Recomendaciones: </u></h1>
  <div class="izquierda">
    <h2>Recomendación 1: </h2>
    <b><p>{{ recomendaciones[0] }}</p></b>
  </div>
  <div class="derecha">
    <h2>Recomendación 2: </h2>
    <b><p>{{ recomendaciones[1] }}</p></b>
  </div>
</div>

</body>
</html>